<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Invesment Protection Buereau - <%=  @adviser.name %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

  <link href="/assets/advisers/grid.css" rel="stylesheet" type="text/css" />
  <link href="/assets/advisers/style.css" rel="stylesheet" type="text/css" />
  <link type="text/css" href="/assets/advisers/jquery.jscrollpane.css" rel="stylesheet" media="all" />
  <link rel="stylesheet" type="text/css" href="/assets/advisers/jquery.fancybox-1.3.4.css" media="screen" />

  <script type="text/javascript" src="/assets/advisers/jquery.jscrollpane.min.js"></script>

  <script language="JavaScript">
<!--
function openWindowCall(url, name, height, width, scroll, resize)
{
  newwin = window.open(url, name, "height="+height+", width="+width+", scrollbars="+scroll+",resizable="+resize+", toolbar=0,location=0,directories=0,status=0,menubar=0");
  setTimeout('newwin.focus();',250);
}
function openWindowRspdAd(url, name)
{
  openWindowCall(url, name, 314, 530, 'no', 'no')
}
function openWindowRspdsmall(url, name)
{
  openWindowCall(url, name, 250, 340, 'yes', 'yes')
}
function openWindowRspddemo(url, name)
{
  openWindowCall(url, name, 480, 640, 'no', 'no')
}
function openWindowRspdlarge(url, name)
{
  openWindowCall(url, name, 420, 500, 'yes', 'yes')
}
function openWindowRspdXlarge(url, name)
{
  openWindowCall(url, name, 450, 660, 'yes', 'yes')
}
function openWindowRspdHelp(url, name)
{
  openWindowCall(url, name, 450, 570, 'yes', 'no')
}
function openWindowGeneric(url, name, attributes)
{
  openWindowCall(url, name, 800, 763, 'yes', 'yes')
}
function openWindowConduct(url, name)
{
  openWindowCall(url, name, 600, 763, 'yes', 'yes')
}
// -->
</script>


<script type="text/javascript">
  jQuery(document).ready(function($){
    $('.scroll_pan').jScrollPane();
    $('.tabbed_container .contents').jScrollPane();

    //Tabbing contents
    $('.tabbed_container .profile_tabnavi li').click(function(){
          if(!$(this).hasClass('.active')){
            $('.tabbed_container .profile_tabnavi li.active').removeClass('active');
            $(this).addClass('active');
            $('.tabbed_container .tab_contents .contents.active_cont').hide();
            $('.tabbed_container .tab_contents .contents.active_cont').removeClass('active_cont');
            $('.tabbed_container .tab_contents .contents:eq('+$(this).index()+')').addClass('active_cont');
            $('.tabbed_container .tab_contents .contents.active_cont').show();
            $('.tabbed_container .contents').jScrollPane();
          }
        });
  });
</script>

<script type="text/javascript">
$.metadata.setType("attr", "validate");
$(document).ready(function() {
$("#form2").validate();
});
</script>

</head>
<body class="profile" >
<!-- FancyBox -->
<% if @owner == false %>
<div id="contactpopup" style="display: none;width:100%;height:200%;position:absolute;top:0px;left:0px;background-color:rgba(125,125,125,0.5); z-index:99999;">
   <div id="container" style='width:900px;margin-left:auto;  margin-right: auto ;margin-top:15%'>

          <div class="grid_20">
            <div class="grid_8" >
              <div class="exper" >
              <iframe src='<%= adviser_contact_popup_path(@adviser) %>' style='width:900px;height:700px;background-color:white;'></iframe>
            </div>

          </div>
          </div>
          </div>
  </div>

<script language="javascript" type="text/javascript">

jQuery('document').ready(function(){

setTimeout("jQuery('#contactpopup').show()",30000)

jQuery('#contactpopup').click(function(){
  jQuery('#contactpopup').remove()
})

})

</script>
<% end %>
<!-- END SFG HTML -->
<div itemscope itemtype="http://schema.org/FinancialService">
  <div id="wrapper">
    <div id="header">
      <div class="container_31">
        <div class="profile_header">
          <script type="text/javascript">
          var detailswinRspdlarge = null;
          var largeWinUrl = null;
          function openWindowRspdlarge(url, name)
          {
            if (!detailswinRspdlarge || detailswinRspdlarge.closed) {
                  detailswinRspdlarge = window.open(url, name, 'toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=yes,resizable=yes,width=500,height=500,top=100,left=300');
                  largeWinUrl = url;
            }
            else {
                  if (largeWinUrl != url) {
                detailswinRspdlarge.location.href = url;
                    largeWinUrl = url;
              }
            }
            detailswinRspdlarge.focus();
          }
          </script>
          <div class="container_31">
            <div class="grid_21 prefix_1" itemprop="contactPoint" itemscope='' itemtype="http://schema.org/ContactPoint">
              <div class="grid_5 thumb">
                <%= image_tag @adviser.avator, :style=> 'max-width:120px;max-height:150px;margin-right:10px' %>
              </div>
              <div class="grid_10 prefix_0" itemprop="name">
                <h3 class="h3" style='display: inline-block;'><%= @adviser.name %></h3><br>
                <br />
                <div>
                  <div class="">
                    <img src="/assets/advisers/home_icon.png" style='float:left;margin:0 5px;'/>
                    <div style='float:left;'>
                      <strong>Address:</strong><br>
                      <%= @adviser.address %> <br>
                      <%= @adviser.city %>,<%= @adviser.state %>, <%= @adviser.zip %><br>
                      <a href="javascript:openWindowRspdlarge('http://new.wiseradvisor.com/maxpro/profile/location_map.jsp?x=<%= @adviser.address %>')">
                        <em>Map it</em>
                      </a> |
                      <a href="http://maps.google.com/maps?q=<%= @adviser.address %>" target="_blank" rel="nofollow">
                        <em>Directions</em>
                      </a>
                    </div>
                  </div>
                  <div class=""><img src="/assets/advisers/phone_icon.png" width="25" height="25" style='float:left;margin:0 5px;' /><p><%= @adviser.phone %></p></div>
                </div>

              </div>
              </div>
              <!-- <h4 classs="h4" style='color:black;'>"Guiding You to Financial Success"</h4> -->
            </div>
            <%= button_to "Edit your profile",edit_adviser_path(@adviser), :method => :get, :style => 'margin:50px 5px 0 0;font-size:18px' if owner? && verified? %>
            <div class="grid_8 suffix_1" itemprop="address" itemscope ='' itemtype="http://schema.org/PostalAddress">
              <div class="grid_6 address">
            </div>
          </div>
        </div>
      </div>
      <div id="container">
        <div class="container_31">
          <div class="grid_22">
            <div class="grid_8">
              <div class="exper">
                <h2><%= @adviser.years_of_experience %> <span>Years of Experience</span></h2>
                <ul class="bullet_list">
                  <%== @adviser.splitted(:experience) %>
                </ul>
                <!-- <br/>
                <h2>Offers <span>&amp;</span> Pledges</h2>
                <ul class="bullet_list">
                  <%#== @adviser.splitted(:offers_and_pledges) %>
                </ul> -->
              </div>
              <%= image_tag '/assets/advisers/verified.gif', :style => 'margin:10px 3px;', :id => 'verified_img' if owner? && verified? %>
            </div>
            <div class="grid_13 float_r">
                <p align="justify"><iframe width="420" height="320" src=<% if @adviser.youtube_url.blank? == false %>
                  "<%= @adviser.youtube_url %>"
                  <% else %>
                "http://www.youtube.com/embed/SMZIClCn2wg"
                <% end %>
                 frameborder="0" allowfullscreen></iframe></p>

            </div>
            <br clear="all" />
            <div class="tabbed_container">
              <div class="tabbed_bar">
                <ul class="clearfix profile_tabnavi">
                  <li class="active">Services</li>
                  <li class="">Biography</li>
              <!--    <li class="">HighLights</li>
                  <li class="">FAQs</li> -->
                </ul>
              </div>
              <div class="tab_contents">
                <div class="contents active_cont">
                  <h2>My Services </h2>
                  <br clear="all" />
                  <div class="grid_17 prefix_1">
                    <table style="width:100%">
                      <% @adviser.services.each do |a_service| %>
                      <tr>
                        <td>
                          <h4 style="color:#f89204"><%= a_service.name %></h4>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p align="justify">
                            <%= a_service.description %>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <hr size="1" color="#CCCCCC" style="width:590px">
                        </td>
                      </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
                <div class="contents ">
                  <h2>BIOGRAPHY</h2>
                    <div class="grid_18 prefix_1">
                      <p align="justify"><%== @adviser.bio %></p>
                    </div>
                  </div>
                  <!-- <div class="contents ">
                    <h2>HIGHLIGHTS</h2>
                    <div class="grid_17 prefix_1">
                      <%# @adviser.questions.where(:faq => nil).each do |question| %>
                      <table width="98%">
                        <tr>
                          <td valign="top"><strong style="color:#f89204"><%#= question.body %></strong></td>
                        </tr>
                        <tr>
                          <td class="white-bg"><%#= question.advisers_questions.where(:adviser_id => @adviser.id).last.answer %></td>
                        </tr>
                      </table>
                      <hr size="1" color="#CCCCCC" style="width:590px;"/>
                      <%#end %>
                    </div>
                  </div> -->
                  <!-- <div class="contents ">
                    <h2>FAQs</h2>
                      <div class="grid_18 prefix_1">
                        <ul class="faq">
                          <%# @adviser.questions.where(:faq => true).each do |question| %>
                            <li style="background:url(/assets/advisers/bullet_question.gif) 0px 3px no-repeat; padding:0 0 15px 22px; list-style-type:none;" id="1">
                              <%#= question.body %><br/>
                              <span><%#= question.advisers_questions.where(:adviser_id => @adviser.id).last.answer %></span>
                            </li>
                          <%# end %>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                </div>
                <!--<div class="education">
                  <h2>Education</h2>
                  <p>
                    <%= @adviser.education %>
                    <div class="h_line">&nbsp;</div>
                  </p>
                </div> -->
              </div>
              <div class="grid_8 float_r">
                <div class="sidebar">
                  <h3>Schedule a Free Initial Consultation</h3>
                  <ul class="bullet_list">
                    <li>No obligation to hire</li>
                    <li>primarily to  evaluate mutual fit. </li>
                  </ul>
                  <div class="get_answer">
                    <%= form_tag consultation_path(:id => @adviser.id) do %>
                      <label>Service:</label>
                      <select class="required" name="consultation[service]" style='margin-left:20px;'>
                        <option value="">--- Select ---</option>
                        <option value="Portfolio Management">Portfolio Management</option>
                        <option value="Retirement Planning">Retirement Planning</option>
                        <option value="Estate Planning">Estate Planning</option>
                        <option value="Education Planning">Education Planning</option>
                        <option value="401K Rollover">401K Rollover</option>
                      </select>
                      <label for="service" class="error" style="display:none;color:red; width:154px; padding-right:0px; text-align:left;">Service is required</label>
                      <br clear="all" ><p></p>
                      <label>ZIP Code:</label>
                      <input type="text" class="zip required" name="consultation[zip]" maxlength="5">
                      <label for="zip" class="error" style="display:none;color:red; width:154px; padding-right:0px; text-align:left;">ZIP Code is required</label>
                      <br clear="all">
                      <label>First Name:</label>
                      <input type="text" name="consultation[firstnm]" class="required">
                      <label for="firstnm" class="error" style="display:none;color:red; width:154px; padding-right:0px; text-align:left;">First Name is required</label>
                      <br clear="all">
                      <label>Last Name:</label>
                      <input type="text" name="consultation[lastnm]" class="required">
                      <label for="lastnm" class="error" style="display:none;color:red; width:154px; padding-right:0px; text-align:left;">Last Name is required</label>
                      <br clear="all">
                      <label>Email:</label>
                      <input type="text" name="consultation[email]" class="required">
                      <label for="email" class="error" style="display:none;color:red; width:154px; padding-right:0px; text-align:left;">Email is required</label>
                      <br clear="all">
                      <label>Phone:</label>
                      <input type="text" onclick="trackConversion('6')" onkeyup="if(this.value.length==3) {getElementById('h2').focus()} " maxlength="3" size="3" value="" name="consultation[harea]" class="phone_code required">
                      <input type="text" onclick="trackConversion('6')" id="h2" onkeyup="if(this.value.length==3) {getElementById('h3').focus()} " maxlength="3" size="3" value="" name="consultation[hphone3]" class="phone_code required">
                      <input type="text" onclick="trackConversion('6')" id="h3" maxlength="4" size="4" value="" name="consultation[hphone4]" class="phone_code required">
                      <label for="harea" class="error" style="display:none; color:red; width:154px; padding-right:0px; text-align:left;">Area code is required.</label>
                      <label for="h2" class="error" style="display:none; color:red; width:211px; padding-right:0px; text-align:right; margin-top: -12px;">Phone no. is required.</label>
                      <label for="h3" class="error" style="display:none; color:red; width:211px; padding-right:0px; text-align:right; margin-top: -12px;">Phone no. is required.</label>
                      <br clear="all">
                      <br clear="all">
                      <div class="grid_3 prefix_1">
                        <input type="submit" value="" class="get_answer_btn" name="x" style ="cursor:pointer;">
                      </div>
                      <br clear="all">
                    <% end %>
                  </div>
                </div>
                <br clear="all" />
                <div class="sidebar">
                  <h3>Office Hours</h3>
                  <ul class="bullet_list">
                    <%== @adviser.splitted(:open_hours) %>

                  </ul>
                </div>
                <br clear="all" />
                <div class="sidebar">
                  <h3>Licensed in</h3>
                  <div class="grid_4 omega">
                    <ul class="bullet_list">
                      <li><%= @adviser.city %></li>
                    </ul>
                  </div>
                  <div class="grid_4 alpha">
                    <ul class="bullet_list">
                      <div class="grid_4 omega">
                    </ul>
                  </div>
                </div>
                <br clear="all" />
                <div class="sidebar"></div>
                <div class="sidebar"></div>
                <div class="sidebar"></div>
                <div class="sidebar"></div>
                <div class="sidebar">
                  <h3>Compensation Arrangements</h3>
                  <div class="grid_4 omega">
                    <ul class="bullet_list">
                      <%== @adviser.splitted(:compensation_arrangements) %>
                    </ul>
                  </div>
                  <div class="grid_4 alpha">
                    <ul class="bullet_list"></ul>
                  </div>
                </div>
              </div>


  </div>
</div>
<!-- ClickTale Bottom part -->

</body>