<h1>New consultation request</h1>
<p>From: <%= @consultation[:firstnm] + ' ' + @consultation[:lastnm] %></p>
<p>Service: <%= @consultation[:service] %></p>
<p>Zip: <%= @consultation[:zip] %></p>
<p>Email: <%= @consultation[:email] %></p>
<p>Phone: <%= @consultation[:harea] + '-' + @consultation[:hphone3] + '-' + @consultation[:hphone4] %></p>