<style>
.form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 15px 20px;
  width: 400px;
}
#left_colom {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 0;
}
.side_nav_box {
  margin-left: 30px;
}
.custom_button {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  color: #424242 !important;
  font-size: 0.9em;
  padding: 6px 11px;
  transition: all 400ms ease-out 0s;
}
.custom_button:hover {
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all 400ms ease-in 0s;
}
</style>
  <div  style='float:left;width:30%'>
  <div id="left_colom">
    <h2>Portfolio</h2>
    <div class="side_nav_box" style='border:none;'>
      <ul class="side_nav">
        <li><%= link_to "Search Advisors", user_path(@user) %></li>
        <li><%= link_to "Preferences", edit_user_path(@user) %></li>
      </ul>
    </div>
    <div class="clear"><img src="/assets/maket/blank.gif" width="1" height="10" border="0" /></div>
  </div>
</div>
  <div style='float:right;width:70%'>
  <div class="form">
    <p style="color:#CC9900; font-size:14px;"><strong>Summary of Original Request:</strong></p>
    <%= form_for @user do |f| %>
      <table id='form_table'>
      <tr>
        <td><strong>Category:&nbsp;&nbsp;</strong></td>
        <td>Financial Advisors</td>
      </tr>
      <tr width="25%" style="color:#000000">
        <td><strong>First Name:&nbsp;&nbsp;</strong></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr width="25%" style="color:#000000">
        <td><strong>Last Name:&nbsp;&nbsp;</strong></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr width="25%" style="color:#000000">
        <td><strong>City:&nbsp;&nbsp;</strong></td>
        <td><%= f.text_field :city %></td>
      </tr>


      <tr width="25%" style="color:#000000">
        <td><strong>State:&nbsp;&nbsp;</strong></td>
        <td><%=  f.select(:state, options_for_select(get_states(), f.object.state))  %></td>
      </tr>

      <tr width="25%" style="color:#990000">
        <td><strong>Phone:&nbsp;&nbsp;</strong></td>
        <td>
          (<%= f.text_field :phone1, :value => @user.phone[1..3], :size => 3, :maxlength => 3 %>)
          <%= f.text_field :phone2, :value => @user.phone[5..7], :size => 3, :maxlength => 3 %> -
          <%= f.text_field :phone3, :value => @user.phone[9..12], :size => 4, :maxlength => 4 %>
        </td>
      </tr>
      <tr width="25%" style="color:#000000">
        <td><strong>Zip:&nbsp;&nbsp;</strong></td>
        <td><%= f.text_field :zip, :size=> 7, :maxlength => 7 %></td>
      </tr>
    </table>
      <p>
        <input type="hidden" name="id" value="6058732" />
        <%= f.submit %>
        <%= link_to 'Confirm', user_path(@user), :class => 'custom_button' %>
        <!-- <a id='confirm' href='/users/<%= @user.id %>'>Confirm</a> -->
      </p>
    <% end %>
  <!-- </form> -->
    <p style="color:#CC9900; font-size:14px;"><strong>Additional criteria you selected:</strong></p>
    <ul style="padding-left:20px;">
      <li>What advisory services are you looking for? <strong><%= User::SERVICE[@user.service] %></strong></li>
      <li>What is the size of your current portfolio? <strong><%= User::PORTFOLIO[@user.portfolio] %></strong></li>
      <li>What do you need help with?  Financial planning & investments </li>
    </ul>
    <p style="color:#CC9900; font-size:14px;"><strong>Additional Details:</strong></p>
    <p style="margin-left:20px;"><%= @user.info %></p>
  </div>
</div>
</div>
<div style='margin-bottom:30px; clear:both;'></div>
