Enter your Zip Code!<br />
<%= form_for User.new, :url => new_user_path, :method => :get do |f| %>
  <%= f.text_field :zip %>

  <%= f.submit %>
<% end %>


<table><tr><td>
<%= link_to 'Atlanta,GA', new_user_path(:user => {:city => 'Atlanta', :state => 'GA'} ) %>
<%= link_to 'Albuquerque,NM', new_user_path(:user => {:city => 'Albuquerque', :state => 'NM'} ) %>
<%= link_to 'Boston,MA', new_user_path(:user => {:city => 'Boston', :state => 'MA'} ) %>
<%= link_to 'Chicago,IL', new_user_path(:user => {:city => 'Chicago', :state => 'IL'} ) %>
<%= link_to 'Columbus,OH', new_user_path(:user => {:city => 'Columbus', :state => 'OH'} ) %>
<%= link_to 'Denver,CO', new_user_path(:user => {:city => 'Denver', :state => 'CO'} ) %>
<%= link_to 'Detroit,MI', new_user_path(:user => {:city => 'Detroit', :state => 'MI'} ) %>
<%= link_to 'Fairfax,VA', new_user_path(:user => {:city => 'Fairfax', :state => 'VA'} ) %>
<%= link_to 'Houston,TX', new_user_path(:user => {:city => 'Houston', :state => 'TX'} ) %>
<%= link_to 'Kansas City,MO', new_user_path(:user => {:city => 'Kansas City', :state => 'MO'} ) %>
<%= link_to 'Los Angeles,CA', new_user_path(:user => {:city => 'Los Angeles', :state => 'CA'} ) %>
<%= link_to 'Madison,WI', new_user_path(:user => {:city => 'Madison', :state => 'WI'} ) %>
<%= link_to 'Marietta,GA', new_user_path(:user => {:city => 'Marietta', :state => 'GA'} ) %>
<%= link_to 'Memphis,TN', new_user_path(:user => {:city => 'Memphis', :state => 'TN'} ) %>
</td><td>
<%= link_to 'Naperville,IL', new_user_path(:user => {:city => 'Naperville', :state => 'IL'} ) %>
<%= link_to 'Omaha,NE', new_user_path(:user => {:city => 'Omaha', :state => 'NE'} ) %>
<%= link_to 'Orlando,FL', new_user_path(:user => {:city => 'Orlando', :state => 'FL'} ) %>
<%= link_to 'Philadelphia,PA', new_user_path(:user => {:city => 'Philadelphia', :state => 'PA'} ) %>
<%= link_to 'Phoenix,AZ', new_user_path(:user => {:city => 'Phoenix', :state => 'AZ'} ) %>
<%= link_to 'San Francisco,CA', new_user_path(:user => {:city => 'San Francisco', :state => 'CA'} ) %>
<%= link_to 'Austin,TX', new_user_path(:user => {:city => 'Austin', :state => 'TX'} ) %>
<%= link_to 'Columbia,MD', new_user_path(:user => {:city => 'Columbia', :state => 'MD'} ) %>
<%= link_to 'Baltimore,MD', new_user_path(:user => {:city => 'Baltimore', :state => 'MD'} ) %>
<%= link_to 'Cincinnati,OH', new_user_path(:user => {:city => 'Cincinnati', :state => 'OH'} ) %>
<%= link_to 'Charlotte,NC', new_user_path(:user => {:city => 'Charlotte', :state => 'NC'} ) %>
<%= link_to 'Dallas,TX', new_user_path(:user => {:city => 'Dallas', :state => 'TX'} ) %>
<%= link_to 'Grand Rapids,MI', new_user_path(:user => {:city => 'Grand Rapids', :state => 'MI'} ) %>
</td><td>
<%= link_to 'Indianapolis,IN', new_user_path(:user => {:city => 'Indianapolis', :state => 'IN'} ) %>
<%= link_to 'Las Vegas,NV', new_user_path(:user => {:city => 'Las Vegas', :state => 'NV'} ) %>
<%= link_to 'Miami,FL', new_user_path(:user => {:city => 'Miami', :state => 'FL'} ) %>
<%= link_to 'Minneapolis,MN', new_user_path(:user => {:city => 'Minneapolis', :state => 'MN'} ) %>
<%= link_to 'Milwaukee,WI', new_user_path(:user => {:city => 'Milwaukee', :state => 'WI'} ) %>
<%= link_to 'New York,NY', new_user_path(:user => {:city => 'New York', :state => 'NY'} ) %>
<%= link_to 'Pittsburgh,PA', new_user_path(:user => {:city => 'Pittsburgh', :state => 'PA'} ) %>
<%= link_to 'Portland,OR', new_user_path(:user => {:city => 'Portland', :state => 'OR'} ) %>
<%= link_to 'Sacramento,CA', new_user_path(:user => {:city => 'Sacramento', :state => 'CA'} ) %>
<%= link_to 'San Diego,CA', new_user_path(:user => {:city => 'San Diego', :state => 'CA'} ) %>
<%= link_to 'San Jose,CA', new_user_path(:user => {:city => 'San Jose', :state => 'CA'} ) %>
<%= link_to 'Seattle,WA', new_user_path(:user => {:city => 'Seattle', :state => 'WA'} ) %>
<%= link_to 'Tampa,FL', new_user_path(:user => {:city => 'Tampa', :state => 'FL'} ) %>
</td>
</tr>
</table>