
  <div style='float:left;width:30%'>
  <div id="left_colom">
    <h2>Menu</h2>
    <div class="side_nav_box">
      <ul class="side_nav">
        <li><%= link_to "Search Advisors", user_path(@user) %></li>
        <li><%= link_to "Preferences", edit_user_path(@user) %></li>
      </ul>
    </div>
    <div class="clear"><img src="/assets/maket/blank.gif" width="1" height="10" border="0" /></div>

  </div>
</div>
<!--   <div style="clear:both;"></div> -->
  <div  style='float:right;width:70%'>
  <div class="advisers_table" >
    <table width="100%" cellpadding="0" cellspacing="1" border="0">
      <tr bgcolor="#F5F5DC">
        <td style="padding:5px 5px 5px 5px;">
          <b><%= link_to "Name", user_path(@user.id, :sort => 'Name', :sortable => ( params[:sort] == 'Name' && params[:sortable] == 'ASC' ? 'DESC' : 'ASC' )) %></b>
          <% if params[:sort] == 'Name' && params[:sortable] == 'DESC' %>
            ▼
          <% elsif params[:sort] == 'Name' %>
            ▲
          <% end %>
        </td>
        <td style="padding:5px 5px 5px 5px;">
          <b><%= link_to "Address", user_path(@user.id, :sort => 'Address', :sortable => ( params[:sort] == 'Address' && params[:sortable] == 'ASC' ? 'DESC' : 'ASC' )) %></b>
          <% if params[:sort] == 'Address' && params[:sortable] == 'DESC' %>
            ▼
          <% elsif params[:sort] == 'Address' %>
            ▲
          <% end %>
        </td>
        <td align="center" style="padding:5px 5px 5px 5px;"><b>City</b></td>
        <td align="center" style="padding:5px 5px 5px 5px;"><b>State</b></td>
        <td align="center" style="padding:5px 5px 5px 5px;"><b>ZIP</b></td>
        <td align="center" style="padding:5px 5px 5px 5px;">
          <b><%= link_to "Rating", user_path(@user.id, :sort => 'Rating', :sortable => ( params[:sort] == 'Rating' && params[:sortable] == 'ASC' ? 'DESC' : 'ASC' )) %></b>
          <% if params[:sort] == 'Rating' && params[:sortable] == 'DESC' %>
            ▼
          <% elsif params[:sort] == 'Rating' %>
            ▲
          <% elsif params[:sort].blank? %>
            ▼
          <% end %>
        </td>
        <td align="center" style="padding:5px 5px 5px 5px;">
        </td>
      </tr>
      <% if @advisers.blank? %>
        <tr bgcolor="#FFFFFF" valign="top">
          <td colspan = 5>
            Sorry, no advisers had been found for your zip code - <%= @user.zip %>
          </td>
        </tr>
      <% else %>
        <% @advisers.each do |adv| %>
          <tr bgcolor="#FFFFFF" valign="top">
            <td style="padding:5px 5px 5px 5px;"><%= adv.name.split(' ').map(&:capitalize).join(' ') %></td>
            <td style="padding:5px 5px 5px 5px;"><%= adv.address%></td>
            <td align="center" style="padding:5px 5px 5px 5px;"><%= adv.city.split(' ').map(&:capitalize).join(' ') %></td>
            <td align="center" style="padding:5px 5px 5px 5px;"><%= adv.state%></td>
            <td align="center" style="padding:5px 5px 5px 5px;"><%= adv.zip%></td>
            <td align="center" style="padding:5px 5px 5px 5px;">
              <%= to_rating( adv.rating_id )%>


            </td>
            <td align="center" style="padding:5px 5px 5px 5px;">
              <%= link_to "Show profile", adviser_path(adv) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= paginate @advisers %>
  </div>
    <div id="left_colom" class='sort'>


  </div>
</div>
</div>
