<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Respond Joppa - Your guide to Local Joppa AL</title>
<meta keywords="joppa city guide, joppa information, joppa services, joppa businesses, joppa professionals, suburbs, metro area, alabama">
<meta description="Joppa AL City Guide featuring information on local business, professionals, and service providers that serve Joppa Alabama and its suburbs at Respond Joppa">
<link href="/assets/maket/style2.css" rel="stylesheet" type="text/css" />
<link href="/assets/maket/style3.css" rel="stylesheet" type="text/css" />
</head>

<body>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2647866-1");

// CAMPAIGNS
pageTracker._setCampNameKey(""); // name
pageTracker._setCampMediumKey(""); // medium
pageTracker._setCampSourceKey(""); // source
pageTracker._setCampTermKey(""); // term/keyword
pageTracker._setCampContentKey(""); // content
pageTracker._setCampIdKey(""); // id number
pageTracker._setCampNOKey(""); // don't override

pageTracker._initData();
pageTracker._trackPageview("/buyerportfolio/11");
pageTracker._setVar("11");
</script>

<!--WEBSITECEO:BEGIN:{764EEF2E-BC11-45CF-8627-300CE1BA2219}-->
<!--
Do NOT modify this script to avoid traffic misrepresentation!
Web CEO 4 0300/1
Code initially inserted into: "/Find Local Businesses _ Get Matched to Local Businesses _ Respond.com.htm".
-->
<script type="text/javascript"><!--
// hitlens v1.2.7
function hitlens_embedded() {
var id = 249041;
var pc = 1;
var PAGENAME = escape('/buyerportfolio/11');
var CONTENTGROUP = escape('11');
var TRANSACTION = escape('');
var TRANSACTION_ID = 0;
var ORDER = escape('');
return "id="+id+"&pc="+pc+"&p="+PAGENAME+"&gr="+CONTENTGROUP+"&tr="+TRANSACTION+"&trid="+TRANSACTION_ID+"&ord="+ORDER;
}
//--></script>
<script type="text/javascript" src="/webceo.js"></script>
<!--WEBSITECEO:END:{764EEF2E-BC11-45CF-8627-300CE1BA2219}-->

  <div id="main_container">


<script language="JavaScript">
<!--
function openWindowCall(url, name, height, width, scroll, resize)
{
  newwin = window.open(url, name, "height="+height+", width="+width+", scrollbars="+scroll+",resizable="+resize+", toolbar=0,location=0,directories=0,status=0,menubar=0");
  setTimeout('newwin.focus();',250);
}
function openWindowRspdAd(url, name)
{
  openWindowCall(url, name, 314, 530, 'no', 'no')
}
function openWindowRspdsmall(url, name)
{
  openWindowCall(url, name, 250, 340, 'yes', 'yes')
}
function openWindowRspddemo(url, name)
{
  openWindowCall(url, name, 480, 640, 'no', 'no')
}
function openWindowRspdlarge(url, name)
{
  openWindowCall(url, name, 420, 500, 'yes', 'yes')
}
function openWindowRspdXlarge(url, name)
{
  openWindowCall(url, name, 450, 660, 'yes', 'yes')
}
function openWindowRspdHelp(url, name)
{
  openWindowCall(url, name, 450, 570, 'yes', 'no')
}
function openWindowGeneric(url, name, attributes)
{
  openWindowCall(url, name, 800, 763, 'yes', 'yes')
}
function openWindowConduct(url, name)
{
  openWindowCall(url, name, 600, 763, 'yes', 'yes')
}
// -->
</script>
<script language="javascript" src="/v4/js/homepage.js"></script>

<div class="login" align="right">

    Signed in as: dvporg@gmail.com&nbsp;(<a class="loginlink" href="/portfolio/showportfolio.jsp?logout.x=y&&bd=20024016&src=11&ss=y">Sign Out</a>)

</div>

<div id="header">
    <div class="fl"><img src="/assets/maket/top_bar_left.gif" width="12" height="88" /></div>
    <div class="logo"><a href="/"><img src="/assets/maket/respond_logo.gif" border="0" /></a></div>

    <div class="search_box">

    <div class="search_innerbox2">
      <table width="100%">
        <tr>
          <td width="100%" style="padding-top:5px; line-height:180%;" align="left">
            <strong>Hi <%= @user.first_name %>&nbsp;<%= @user.last_name %></strong><br/>
            Member Since 2013
          </td>
          <td style="padding-top:5px; line-height:180%;" align="right">
            <img src="/assets/maket/respondtopquote.gif" />
          </td>
        </tr>
      </table>
    </div>

    <div class="fr"><img src="/assets/maket/header_wt_box_right.gif" /></div>
        <div class="clear"></div>

    </div>
  <div class="fr"><img src="/assets/maket/top_bar_right.gif" /></div>
</div>
<div id="navigations">
  <div class="nav_rt_curve">
    <ul>
      <li><a href="/">Home</a></li>
      <li><%= link_to "Search Advisors", user_path(@user[:id]) %></li>
      <li><a href="/">About us</a></li>


      <li style="border:none;"><%= link_to "Preferences", edit_user_path(@user[:id]) %></li>

    </ul>
  </div>
</div>



      <div id="main_body">
      <div class="clear"><img src="/assets/maket/blank.gif" width="1" height="1" border="0" /></div>
      <div id="left_colom">
          <h2>Portfolio</h2>
<div class="side_nav_box">
  <ul class="side_nav">


    <li><%= link_to "Search Advisors", user_path(@user[:id]) %></li>


    <li><%= link_to "Preferences", edit_user_path(@user[:id]) %></li>

  </ul>
</div>
<div class="clear"><img src="/assets/maket/blank.gif" width="1" height="10" border="0" /></div>





      </div>
      <div id="right_colom">
<h1 class="page_heading2">Active Requests &raquo; Search Advisors</h1><br/>
<div class="border">

<table width="100%" cellpadding="0" cellspacing="1" border="0">
  <tr bgcolor="#F5F5DC">
    <td style="padding:5px 5px 5px 5px;"><strong>Name</strong></td>
    <td style="padding:5px 5px 5px 5px;"><strong>Address</strong></td>
    <td align="center" style="padding:5px 5px 5px 5px;"><strong>City</strong></td>
    <td align="center" style="padding:5px 5px 5px 5px;"><strong>State</strong></td>
    <td align="center" style="padding:5px 5px 5px 5px;"><strong>Stars</strong></td>
  </tr>
<% if @advisers %>
<% @advisers.each do |adv| %>
  <tr bgcolor="#FFFFFF" valign="top">
    <td style="padding:5px 5px 5px 5px;"><%= adv.name.split(' ').map(&:capitalize).join(' ') %></td>
    <td style="padding:5px 5px 5px 5px;"><%= adv.address%></td>
    <td align="center" style="padding:5px 5px 5px 5px;"><%= adv.city.split(' ').map(&:capitalize).join(' ') %></td>
    <td align="center" style="padding:5px 5px 5px 5px;"><%= adv.state%></td>
    <td align="center" style="padding:5px 5px 5px 5px;">
    <% adv.stars.times do %>
    <img with=12px height=12px src='/img/star.gif'/>
    <% end %>

    </td>
  </tr>
<% end %>
<% end %>
  </table>


</div>
<!--End Main Table//-->
<br/>
      </div>
        <div class="clear"><img src="/assets/maket/blank.gif" width="1" height="1" border="0" /></div>


<div id="footer">
  <div align="center">
    <a target="_blank" href="http://www.linkedin.com/companies/285395/Respond?trk=pp_icon"><img border="0" src="/assets/maket/linkedin.jpg" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a target="_blank" href="http://www.facebook.com/Respondcom"><img border="0" src="/assets/maket/facebook.jpg" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a target="_blank" href="http://www.twitter.com/Respondcom"><img border="0" src="/assets/maket/twitter.jpg" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a target="_blank" href="http://blog.respond.com/"><img border="0" src="/assets/maket/respondblog.jpg" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="javascript:openWindowRspdXlarge('/general/privacy.jsp?')"><img border="0" src="/v4/images/truste.jpg" /></a>

  <script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.respond.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en">
  </script>
  </div>

  <div class="clear"><img src="/v4/images/blank.gif" width="1" height="10" border="0" /></div>

  <div align="center">
    <strong>Company Information:</strong>
  <a href="http://www.respond.com/about-us.html">About Us</a> |
  <a href="http://www.respond.com/yellowpages/marketing-leads.html?">Advertise</a> |
  <a href="http://www.respond.com/v4/affiliate/index.jsp?">Affiliate Program</a> |
  <a href="http://referrals.respond.com">Referrals</a> |
  <a href="http://www.respond.com/common/content/contact/?nd=n">Contact Us</a> |
  <a href="http://www.respond.com/sitemap.html">Site Map</a>
  <br />

  <strong>Additional Services:</strong>
  <a href="http://finance.respond.com">Finance</a> |
  <a href="http://homeservices.respond.com">Home Services</a> |
  <a href="http://homeimprovement.respond.com">Home Improvement</a> |
  <a href="http://insurance.respond.com">Insurance</a> |
  <a href="http://weddings.respond.com">Weddings</a> |
  <a href="http://lasik-services.com">Lasik Eye Surgery</a>
  <br/>

  <strong>Network of Sites:</strong>
  <a target="_blank" href="http://www.bridesandgrooms.com">Brides and Grooms</a> |
  <a target="_blank" href="http://www.leadingcontractors.com">Leading Contractors</a>
  <br />

  <strong>Legal Notices:</strong>
  <a href="javascript:openWindowRspdXlarge('/general/help/index.jsp?help=business_agreement&&bd=20024016&src=11&ss=y')">Business Agreement</a> |
  <a href="javascript:openWindowRspdXlarge('/general/privacy.jsp?&bd=20024016&src=11&ss=y')">Privacy Policy</a> |
  <a href="javascript:openWindowRspdXlarge('/general/termsofservice.jsp?&bd=20024016&src=11&ss=y')">Terms of Use</a>
  <br />
  </div>
</div>

    </div>
  </div>
</body>
</html>

