
  <div id='content' style='width:25%;float:left'>
    <div >
    <h2 style='color:red'>Register</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div><br />

      <div><%= f.submit "Register" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
<div style='width:75%;float:right'>
    <%= image_tag "registration_image.png", :style => 'width:90%;height:auto' %>
  </div>